body {
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

nav a {
    text-decoration: none;
    color: blue;
    transition: 0.5s;
}

nav a:hover {
    color: crimson;
    background-color: darkgrey;
    font-weight: bold;
    font-style: italic;
    
}

#footer{
    background-color: aliceblue;
    text-align: center;
    font-family: serif;
    justify-content: center;
    align-items: center;
}

img{
    border: 5px;
    float: left;
    margin: 10px;
}

.elerhetoseg{ 
    transition: transform 0.1s ease-in-out; 
    transform: scale(1.1);
    width: 50px;
    height: 50px;
    margin: auto;
}

h1:hover{
    filter: drop-shadow(10px 5px 15px blue);
    transition: 1s;
}